<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1"
                         transferMode="Streamed"
                         maxReceivedMessageSize="1000000000"
                         maxBufferSize="8192"/>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICallbackService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10069/Lebiedowska" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:10071/Lebiedowska3/endpoint3"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICallbackService1"
                contract="ServiceReference2.ICallbackService1" name="WSDualHttpBinding_ICallbackService1">
                <identity>
                    <userPrincipalName value="WINDELL-35C9VKT\emila" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>